<div id="main" class="clearfix" (window:resize)="onResize($event)">
    <ng-container *ngIf="menu; else loading">
        <section class="brand-main"  [style.min-height]="pillarHeight + 'px'">
            <ng-template [ngIf]="menu && menu.sub_categories">
            <ul class="bm-blocks">
                <li *ngFor="let brandItem of menu.sub_categories" >
                    <div class="brand-link">
                        <a href="{{brandItem.link}}"  [routerLink]="[brandItem.link]" class="link">
                            <span>{{brandItem.name}}</span>
                        </a>
                    </div>
                </li>
            </ul>
            </ng-template>

            <video autoplay="" loop="" preload="auto" [poster]="menu.bannerImgLrg" #bannerVideo>
                <source [src]="menu.videoLinkWebM" type="video/webm">
                <source [src]="menu.videoLinkMp4" type="video/mp4">
                <img [src]="menu.bannerImgLrg">
            </video>
            <img class="block-img" [src]="menu.bannerImgSm">
        </section>

        </ng-container>
    <ng-template #loading>
        <div class="loading"><img src="./assets/images/loading.gif" alt="loading"/> </div>
    </ng-template>
</div>
