<carousel class="no-indicator-carousel viewed" [interval]=false>
    <slide  *ngFor="let productGrp of viewedProdsDisplay">
       <div class="slide-item"  *ngFor="let product of productGrp">
           <a [routerLink]="['/product/',product.id,product.urlBlurb]">
              <div class="item-img"><img [src]="product.imgThumbnail  || './assets/images/pdp/image_unavailable.jpg'" [alt]="product.name"  class="img-responsive"  /></div>
           <div class="item-desc">
              <div class="item-name">{{product.name}}</div>
           <div class="item-price"><span class="fa fa-inr"></span>
               {{(product.price | number)== 0 ? 'Coming Soon' : (product.price | number)}}
           </div>
       </div>
        </a>
       </div>
    </slide>
</carousel>