<carousel class="no-indicator-carousel" [interval]=false>
    <slide  *ngFor="let productGrp of viewedProdsDisplay">
       <div class="slide-item"  *ngFor="let product of productGrp">
              <div class="item-img"><img [src]="product.imgThumbnail" alt="name"  class="img-responsive"  /></div>
           <!--assets/images/cycle1.png-->
           <div class="item-desc">
              <div class="item-name">{{product.name}}</div>
           <div class="item-price"><span class="fa fa-inr"></span>{{product.price}}</div>
       </div>
        </div>
    </slide>
</carousel>