@import "../../../styles/_variables.scss";

.pad-main-text {
  @media (min-width: $md-screen-up) {
    //padding: 2rem 15rem;
  }
}

.newsletter{
  border: 1px solid #d1d2d4;
  padding: 15px;
  padding-top: 0;
  background-color: #f2f2f2;
  h3{
    padding-left: 0;
  }
  input[type="checkbox"]{
    width: auto;
    margin-right: 10px;
  }
}
.emails{
  color:$color-red;
  font-size: 1.4rem;
  a{
    color:$color-red;
    font-weight: bold;
  }
  .designation{
    font-family: BebasNeueBold;
    color:  #000000;
    font-size: 1.5rem;
  }
  li{
    padding-bottom: 10px;
    display: block;
  }
}