@import "../../../styles/_variables.scss";
.sal-features{
  font-size: 1.7rem;
  font-family: BebasNeue;
  position: absolute;
  bottom: 0;
  width:calc(100% - 2rem);
  margin-bottom: 3rem;

  @media (min-width:$sm-screen-up) {
    width: 100%;
  }
  .sal-hd{
    display: inline-block;
    width: 20%;
    text-align: center;
    @media (max-width: $sm-screen-down) {
      width:100%;
    }
  }
  ul{
    display: inline-block;
    width: 79%;
    @media (max-width: $sm-screen-down) {
    width:100%;
  }

  }
  li.sal-feature{
    width:  calc(20% - 7px);
    text-align: center;
    @media (max-width: $sm-screen-down) {
      width:  calc(20% - 5px);

    }
  }
  .seperator{
    //float:left;
    position: relative;
    top:1.5rem;
    background-color: rgba(256,256,256,.5);
    @media (max-width: $sm-screen-down) {
      display: none;
  }
  }
  .f-img{
    width:4.5rem;
    height: 5rem;
    margin: 0 auto 1rem;
    & > img{
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
    }
  }
  h3{
    font-size: 2rem;
    @media (min-width: $sm-screen-up) {
      display: inline-block;
    }

  }
  .feature-name{
    font-size: 1.5rem;

  }
  .feature-desc {
    padding-top: 30px;
    margin: auto;
  }
  .sal-desc{
    display: inline-block;
    text-align: center;
  }
}