<div class="sal-features">
    <div class="sal-hd">
        <h3>Salient Features of <br />
            {{productName}}</h3>
    </div>
    <ul>
        <ng-template ngFor let-feature [ngForOf]="salientFeatures">
        <div class="seperator"></div>
        <li class="sal-feature">
            <div class="sal-desc">
                <!-- <div class="f-img"><img [src]= "'/assets/images/pdp/' + (feature.featureName | lowercase) + '.png'" class="img-responsive"/></div>
                 <div class="feature-name">{{feature.featureName}}</div> -->
                 <div class="feature-desc">{{feature.featureDesc}}</div>
             </div>
         </li>
         </ng-template>
     </ul>
    <!-- <div class="visible-xs-block">
         <carousel class="no-indicator-carousel">
             <slide>
                 <div class="f-img"><img src='/assets/images/pdp/battery.png' class="img-responsive"/></div>
                 <div class="feature-name">Battery</div>
                 <div class="feature-desc">Li-ion, 48v 11.6AH<br/>Panasonic Cells</div>
             </slide>
             <slide>
                 <div class="f-img"><img src='/assets/images/pdp/lights.png' class="img-responsive"/></div>
                 <div class="feature-name">Light(F/R)</div>
                 <div class="feature-desc">Li-ion, 48v 11.6AH<br/>Panasonic Cells</div>
             </slide>
             <slide>
                 <div class="f-img"><img src='/assets/images/pdp/battery.png' class="img-responsive"/></div>
                 <div class="feature-name">Battery</div>
                 <div class="feature-desc">Li-ion, 48v 11.6AH<br/>Panasonic Cells</div>
             </slide>
         </carousel>
     </div>-->
</div>