<div class="filter-tog"   *ngIf="IsMobile" (click)="toggleFilter()" [class.filter-shown]="filterOpen">Filters</div>

<div class="filter-container" [class.visible]="filterOpen" (window:resize)="onResize($event)">
    <ul class="filters">
        <ng-container  *ngFor="let filter of filters"><!---->
        <li *ngIf="filter.name!='subcategory'" (click)="showFilter(filter.name)" [ngClass]="{'filter-open': filter.name == filterSelected}">
            <span class="filter-name icon">{{filter.name=="subcategory"?'Category':filter.name.replace('_', ' ')}}</span>
            <ul class="filter-options transition" *ngIf="IsMobile && showFilterOptions">
                <li *ngFor="let option of selectedOptions" class="filter-btn" (click)="toggleCriterion(filter.name,option.id)"
                    [ngClass]="{'selected': option.isSelected}">
                    {{option.display}} <span [ngClass]="{'fa fa-close': option.isSelected}"></span></li>
            </ul>
        </li>
        </ng-container>
    </ul>
    <ng-container *ngIf="IsDesktop" >
        <ng-container *ngFor="let filter of filters">
        <ul class="filter-options transition" *ngIf="filter.name == filterSelected"
        [@visibilityChanged]>
        <li *ngFor="let option of filter.values" class="filter-btn"  (click)="toggleCriterion(filter.name,option.id)"
            [ngClass]="{'selected': option.isSelected}">
            {{option.display}}<span [ngClass]="{'fa fa-close': option.isSelected}"></span>
        </li>
    </ul>
        </ng-container>
    </ng-container>
    <div class="sel-options clr-all" *ngIf="filtersSelected && filtersSelected.length > 0">
        <ul>
            <ng-container *ngFor="let filter of filtersSelected">
                <ng-container  *ngIf="filter.texts" >
            <li class="sel-option" *ngFor="let criterion of filter.texts">
                <span class="selFilter">{{filter.filterName=="subcategory"?'Category':filter.filterName.replace('_', ' ')}} - </span>

          <span (click)="toggleCriterion(filter.filterName,criterion.id)" class="selFilterOption">{{criterion.text}}
          <span class='fa fa-close'></span>
          </span>
            </li>
                    </ng-container>
            </ng-container>
            <li class="selected filter-btn" (click)="clearAllCriterion()">Clear All<span class="fa fa-close"></span></li>
        </ul>
    </div>
</div>
<div class="clearfix">
    <select class="filter-input right" (change)="sortBy('price',$event.target.value);" [(ngModel)]="sortOrder">
    <option value="asc">Price: Low to High</option>
    <option value="desc">Price: High to Low</option>
</select>
</div>