<div id="main" class="clearfix" (window:resize)="onResize($event)" >
    <ng-container *ngIf="menu">
        <section class="tipos-main" [style.min-height]="pillarHeight + 'px'">
            <ul class="blocks" *ngIf = "menu.brands">
                <li *ngFor="let nav of menu.brands"  [style.width]="pillarWidth + '%'">
                    <div class="links-box">
                        <a [routerLink]="[nav.link]" class="block-link">
                            <span>{{nav.name}}</span>
                        </a><br>
                        <a [routerLink]="[nav.link]"  class="block-cuadro-link">See the bike range</a>
                    </div>
                </li>
            </ul>

            <video autoplay="" loop="" preload="auto" [poster]="menu.bannerImgLrg" #bannerVideo>
                <source [src]="menu.videoLinkWebM" type="video/webm">
                <source [src]="menu.videoLinkMp4" type="video/mp4">
                <img [src]="menu.bannerImgLrg">
            </video>
            <img class="block-img" [src]="menu.bannerImgSm">
        </section>

    </ng-container>
    <ng-template *ngIf="isLoading">
        <div class="loading"><img src="./assets/images/loading.gif" alt="loading"/> </div>
    </ng-template>
</div>