<ng-container  *ngIf="productList; else loading">
    <app-category-header bannerImg="{{productList.bannerImgLg}}" [catDesc]="productList.catDesc"></app-category-header>
    <div class="pad-main-side">
        <app-category-filter [filtersSelected]="productList.filters" (criterionChanged)="refreshData($event)"
            defaultFilterOpen="true" (clearAll)="clearAll($event)" (removeFilter) = "removeParam($event)"></app-category-filter>
        <app-category-products [productList]="productList.products" ></app-category-products>
    </div>
</ng-container>
<ng-template #loading>
    <div class="loading"><img src="./assets/images/loading.gif" alt="loading"/> </div>
</ng-template>
<div class="loading" *ngIf="isloading"><img src="./assets/images/loading.gif" alt="loading"/> </div>

