<ng-container  *ngIf="productList">
    <app-category-header [bannerImg]="'./assets/images/banners/brand/hero.jpg'" [catDesc]="productList.catDesc"></app-category-header>
    <div class="pad-main-side">
        <app-category-filter [filtersSelected]="productList.filters" (criterionChanged)="refreshData($event)"
                             (clearAll)="clearAll($event)" (removeFilter) = "removeParam($event)"></app-category-filter>
        <app-category-products [productList]="productList.products" ></app-category-products>
    </div>
</ng-container>
<div class="loading" *ngIf="isloading"><img src="./assets/images/loading.gif" alt="loading"/> </div>