<img src="./assets/images/banners/milestone.jpg" alt="Milestone">
<section class="pad-main-text">
<table>
    <tr>
        <td class="spacer"></td>
        <td class="year">1956</td>
        <td class="desc">
            <ul>
                <li>Started Manufacturing</li>
                <li class="imp">Key components of</li>
                <li class="imp">bicycles and assembling</li>
                <li>the entire cycle at ludhiana</li>
                <li>manufacturing plant</li>
            </ul>
        </td>
        <td class="spacer"></td>
    </tr>
    <tr>
        <td class="spacer"></td>
        <td class="desc">
            <ul>
                <li class="imp">Manufacturing 7500</li>
                <li class="imp">cycles/day</li>
                <li>hero cycle becomes the</li>
                <li>largest manufacturers</li>
                <li>of bicycles in india</li>
            </ul>
        </td>
        <td class="year">1975</td>
        <td class="spacer"></td>
    </tr>
    <tr>
        <td class="spacer"></td>
        <td class="year">1986</td>
        <td class="desc">
            <ul>
                <li>With 48% market share</li>
                <li class="imp">the company received</li>
                <li class="imp">guinness book of</li>
                <li>world records</li>
                <li>for manufacturing</li>
                <li class="imp">< 18,500 cycles/day</li>
            </ul>
        </td>
        <td class="spacer"></td>
    </tr>
    <tr>
        <td class="spacer"></td>
        <td class="desc">
            <ul>
                <li class="imp">Incorporation</li>
                <li class="imp">of Munjal Kiru</li>
                <li>a jv between hero motors</li>
                <li>and kiru corporation</li>
            </ul>
        </td>
        <td class="year">2007</td>
        <td class="spacer"></td>
    </tr>
    <tr>
        <td class="spacer"></td>
        <td class="year">2010</td>
        <td class="desc">
            <ul>
                <li class="imp">Incorporation of zf hero</li>
                <li class="imp">chasis systems</li>
                <li>a jv between hero motors and</li>
                <li>hero chasis systems pvt. ltd</li>
            </ul>
        </td>
        <td class="spacer"></td>
    </tr>
    <tr>
        <td class="spacer"></td>
        <td class="desc">
            <ul>
                <li>Hero Cycles crossed</li>
                <li class="imp">130 mn cycles</li>
            </ul>
            <ul>
                <li class="imp">Launched urban trail</li>
                <li>light weight & high performance</li>
                <li>lifestyle bicycle with 17 models</li>
            </ul>
        </td>
        <td class="year">2012</td>
        <td class="spacer"></td>
    </tr>
    <tr>
        <td class="spacer"></td>
        <td class="year">2014</td>
        <td class="desc">
            <ul class="imp">
            <li>General motors suppliers</li>
                <li>quality excellence award</li>
                <li>to Munjal kiru</li>
            </ul>
        </td>
        <td class="spacer"></td>
    </tr>
    <tr>
        <td class="spacer"></td>
        <td class="desc">
            <ul>
                <li class="imp">Acquired firefox</li>
                <li>premium lifestyle bicycle</li>
                <li>segment in india</li>
            </ul>
        <ul><li>Zf hero inaugurated</li>
        <li class="imp">new plant in chennai</li></ul>
        <ul><li>launch of</li>
        <li>hero avenue outlets</li>
        <li>to enhance customer experience</li></ul></td>
        <td class="year">2015</td>
        <td class="spacer"></td>
    </tr>
    <tr>
        <td class="spacer"></td>
        <td class="year">2016</td>
        <td class="desc">
            <ul><li class="imp">first overseas acquisition</li>
            <li>of avocet - enters european market</li></ul>
            <ul>
                <li class="imp">acquired sri lankan bicycle</li>
            <li class="imp">manufacturers bsh ventures</li>
            <li>to strengthen global presence</li>
            <li>and enhance its manufacturing</li>
            <li>proficiency</li></ul>
        </td>
        <td class="spacer"></td>
    </tr>
    <tr>
        <td class="spacer"></td>
        <td class="desc">
            <ul><li class="imp">Launch of Octane - Lightest bike of segment</li></ul>
        </td>
        <td class="year">2017</td>
        <td class="spacer"></td>
    </tr>
</table>
</section>