@import "../../../styles/_utilities.scss";

.year-wheel{
  content: ".";
  background-image: url(/assets/images/year_bg.png);
  background-repeat: no-repeat;
  color: transparent;
  width: 92px;
  height: 92px;
  display: block;
  position: absolute;
  @include translateY(-50%);
  @include rotateAnimation();
}
.year-connector{
  content: '.';
  width: 5px;
  background-color: #b3b3b3;
  font-size: 0;
  position: absolute;
  right: 0;
  top: 50%;
  height: 1px;
  display: block;
  color: white;
  @include translateY(-50%);

}
section{
  padding-top: 5rem;
}
.year {
  font-family: BebasNeueBold;
  color: #d01f25;
  font-size: 4.6rem;
  position: relative;
  &:nth-child(2) {
    padding-right: 20px;
    &::after {
      @extend .year-connector;
      right: 0;
      top: 50%;
    }
    &::before {
      @extend .year-wheel;
      right: 5px;
      top: calc(50% - 46px);
    }
  }
  &:nth-child(3) {
    padding-left: 20px;
    &::before {
      @extend .year-connector;
      left: 0;
      top: 50%;
    }
    &::after{
      @extend .year-wheel;
      left: 5px;
      top: calc(50% - 46px);
      }

}


}
.desc{
  font-family: BebasNeueBook;
  color:  #000000;
  font-size: 3rem;
  text-transform: uppercase;
  .imp{
    font-family: BebasNeueBold;
    color:  #001c49;
    font-size: 3.5rem;
  }
}
table{
  width: 100%;
  tr{
    &:not(:first-child) .desc {
      padding-top: 5rem;
    }
  }
}
td{
  width:49%;
  text-align: left;
  background-position: left 5px bottom 50%;
  line-height: 1.1em;
  &.spacer{
    width:1%;
  }
  @media (min-width: 768px) {
    width:25%;
    &.spacer{
      width:25%;
    }
  }
  &:nth-child(2){
    text-align: right;
    background-position: right 5px bottom 50%;
    padding-right: 10px;
  }
  &:nth-child(3){
    border-left: 1px solid #b3b3b3;
    padding-left: 10px;
  }
  ul{
    li{
      display: block;
    }
    &:not(:last-child){
      border-bottom: 1px solid grey;
    }
  }
}