<img src="./assets/images/banners/disclaimer.jpg" alt="Disclaimer">

<section class="pad-main-text">
    <h3>Legal Disclaimer</h3>
    <p>All the content but not limited to text, graphics, designs and trademarks of this site is © Hero Cycles Limited. You may download
    the content only for your personal use and for non-commercial purposes only. Modification of content or further reproduction
    or incorporation in any work, publication or site whether in hard copy or electronic format including postings to any other
    site is strictly prohibited and Hero Cycles reserves all other rights.</p>
    <p>Hero Cycles will use reasonable efforts to include accurate information on the site and is for general purposes only. Hero Cycles
    makes no representations, warranties or assurances as to the accuracy, currency or completeness of the information provided.</p>
    <p>The information on this site does not constitute an invitation to invest in Hero Cycles and Hero Cycles or their officers,
    employees agents shall not be liable for any loss, damage or expenses either direct, indirect, incidental or consequential,
    caused due to access of this site or any site linked to it.</p>
    <h3>E-Mail Disclaimer</h3>
    <p>The information in this e-mail, and any attachments therein, is privileged and confidential and for use by the addressee only.
    If you are not the intended recipient, please return the e-mail to the sender and delete it from your computer. If you have
    received this communication in error, please be informed that any review, dissemination, distribution, or copying of this
    message is strictly prohibited.</p>
    <p>The sender confirms that Hero Cycles shall not be responsible if this email message is used for any indecent, unsolicited or
    illegal purposes, which are in violation of any existing laws and the same shall solely be the responsibility of the sender
    and that Hero Cycles shall at all times be indemnified of any civil and/ or criminal liabilities or consequences thereof.</p>
    <p>Although we attempt to sweep e-mail and attachments for viruses, we do not guarantee that either are virus-free and accept no
    liability for any damage sustained as a result of viruses.</p>
</section>