@import "../../../styles/_variables.scss";
slide{
  background-color:$color-background-grey3;
  padding:3rem;
  .item-img{
    background-color:$color-background-grey2;
    padding: 1rem;
    text-align: center;
    @media (min-width: $sm-screen-up) {
      height: 100%;//20rem;
    }
    img{
      width:50%;
    }
  }
}