<h2>Cycle of My <span class="red">Choice</span></h2>
    <div class="choice-filters container-fluid">
        <div class="row" *ngIf="pageShown == 1">

            <div class=" col-sm-5 choice-filter">
                <div class="gender">
                    <input type="radio" name="gender" id="male" value="male"
                           [value]="male"
                           (change)="onSelectionChange('male','gender')"/>
                    <label for="male" class="male with-img filter-label">Male</label>
                </div>
                <div class="gender">
                    <input type="radio" name="gender" id="female" [value]="female"
                           (change)="onSelectionChange('female','gender')"/>
                    <label for="female" class="female with-img filter-label">Female</label>
                </div>
                <div class="gender">
                    <input type="radio" name="gender" id="unisex" value="unisex"
                           (change)="onSelectionChange('unisex','gender')" />
                    <label for="unisex" class="unisex with-img filter-label">Unisex</label>
                </div>
                <p class="error text-error">&nbsp;
                    <span *ngIf="errorFilter == 'gender'">Please select any one the option</span>
                </p>
            </div>

            <div class=" col-sm-3 choice-filter age">
                <select class="filter-input" (change)="criterion.age = $event.target.value">
                    <option value="-1">Select</option>
                    <option *ngFor="let option of ageFilter" [value]="option.displayText">{{option.displayText}}</option>
                </select>
                <div class="filter-label">Age</div>
                <p class="error text-error" >&nbsp;
                    <span *ngIf="errorFilter == 'age'">Please select any one the option</span>
                </p>
            </div>

            <div class="col-sm-4 choice-filter no-border-sm">
                <div class="type">
                    <input type="radio" id="leisure" name="type" [value]="leisure"
                           (change)="onTypeChange('leisure','type')"/>
                    <label for="leisure" class="leisure with-img filter-label">Leisure</label></div>
                <div class="type">
                    <input type="radio" id="performance" name="type" [value]="performance"
                           (change)="onTypeChange('performance','type')"/>
                    <label for="performance" class="performance with-img filter-label">Performance</label>
                </div>
                <p class="error text-error">&nbsp;
                    <span *ngIf="errorFilter == 'type'">Please select any one the option</span>
                </p>
            </div>

            <div class="action-btn col-sm-12">
                <a class="hc-btn hc-btn-primary" (click)="showNext(['gender','age','type'])">Next</a>
            </div>
        </div>

        <div class="row" *ngIf="pageShown == 2">
            <div class="col-sm-6 choice-filter container">

                <ng-container *ngIf='cycleFilter && cycleFilter.length'>
                    <ng-container *ngFor='let filter of cycleFilter; let i = index' >
                        <div class="row category" *ngIf='i % 3 == 0'>
                            <div class="col-sm-4" *ngFor='let n of [i,i+1,i+2]'>
                                    <input type="radio" name="category2" [id]="cycleFilter[n].link" [value]="cycleFilter[n].link"
                                           (change)="onSelectionChange(cycleFilter[n].link,'category2')"/>
                                    <label [for]="cycleFilter[n].link" class="with-img filter-label"
                                           [style.background-image]="'url(' + cycleFilter[n].img + ')'">{{cycleFilter[n].name}}</label>

                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <p class="error text-error">&nbsp;
                    <span *ngIf="errorFilter == 'category2'">Please select any one the option</span>
                </p>
            </div>

<!--            <div class="col-sm-2 choice-filter price-filter" *ngIf="IsDesktop">
                <input type="text" class="filter-input "/>
                <span class="red-seperator">-</span>
                <input type="text" class="filter-input"/>
                <div class="filter-label">Price</div>
            </div>-->
            <div class="col-sm-2 choice-filter price-filter" *ngIf="IsDesktop">
                <select class="filter-input" (change)="criterion.price = $event.target.value">
                    <option value="-1">Select</option>
                    <option *ngFor="let option of priceFilter" [value]="option.value">{{option.displayText}}</option>
                </select>
                <div class="filter-label">Price</div>
                <p class="error text-error" *ngIf="errorFilter == 'price'">Please select any one the option</p>
            </div>

            <div class="col-sm-4 choice-filter no-border-sm gear-filter" *ngIf="IsDesktop">
                <div>
                    <input type="radio" id="gear" name="gears" [value]="gear"
                           (change)="onSelectionChange('gear','gears')"/>
                    <label for="gear" class="gear with-img filter-label">Gear</label>
                </div>
                <div>
                    <input type="radio" id="nongear" name="gears" value="single speed"
                           (change)="onSelectionChange('s.speed','gears')"/>
                    <label for="nongear" class="non-gear with-img filter-label">Non Geared</label>
                    </div>
            </div>

            <div class="col-sm-12 action-btn" *ngIf="IsDesktop">
                <a class="hc-btn hc-btn-primary" (click)="searchProduct(['category2','minPrice','maxPrice','gear'])">Pedal</a>
            </div>

            <div class="col-sm-12 action-btn" *ngIf="IsMobile">
                <a class="hc-btn hc-btn-primary" (click)="showNext(['category2'])">Next</a>
            </div>
        </div>

        <div class="row" data-page="3" *ngIf="IsMobile && pageShown == 3">

        <div class="col-sm-1 choice-filter price-filter">
            <select class="filter-input" (change)="criterion.price = $event.target.value">
                <option value="-1">Select</option>
                <option *ngFor="let option of priceFilter" [value]="option.value">{{option.displayText}}</option>
            </select>
            <div class="filter-label">Price</div>
            <p class="error text-error" *ngIf="errorFilter == 'price'">Please select any one the option</p>

        </div>
        <!--<div class="clearfix visible-xs"></div>-->
            <div class="col-sm-4 choice-filter no-border-sm gear-filter">
                <div>
                    <input type="radio" id="gear" name="gears" [value]="gear"
                           (change)="onSelectionChange('gear','gears')"/>
                    <label for="gear" class="gear with-img filter-label">Gear</label>
                </div>
                <div>
                    <input type="radio" id="nongear" name="gears" value="single speed"
                           (change)="onSelectionChange('s.speed','gears')"/>
                    <label for="nongear" class="non-gear with-img filter-label">Non Geared</label>
                </div>
            </div>

            <div class="col-sm-2 action-btn">
                <a class="hc-btn hc-btn-primary" (click)="searchProduct(['minPrice','maxPrice','gear'])">Pedal</a>
            </div>
    </div>
</div>