<h2>Cycle of My <span class="red">Choice</span></h2>
<div class="choice-filters container-fluid" (window:resize)="onResize($event)" >
    <div class="row row-eq-height">
        <div class="col-sm-3 choice-filter">
            <div class="type">
                <input type="radio" id="leisure" name="category" [value]="1"
                       (change)="onTypeChange(1,'category')"/>
                <label for="leisure" class="leisure with-img filter-label">Leisure</label></div>
            <div class="type">
                <input type="radio" id="performance" name="category" [value]="2"
                       (change)="onTypeChange(2,'category')"/>
                <label for="performance" class="performance with-img filter-label">Performance</label>
            </div>
            <p class="error text-error">&nbsp;
                <span *ngIf="errorFilter == 'category'">Please select any one the option</span>
            </p>
        </div>

        <div class=" col-sm-3 choice-filter age" >
            <ng-container *ngIf="ageFilter">
            <select class="filter-input" (change)="onSelectionChange($event.target.value,'age');">
                <option value="-1">Select</option>
                <option *ngFor="let option of ageFilter" [value]="option.display">{{option.display}}</option>
            </select>
            <div class="filter-label">Age</div>
            <p class="error text-error" >&nbsp;
                <span *ngIf="errorFilter == 'age'">Please select any one the option</span>
            </p>
            </ng-container>
        </div>

        <div class="col-sm-3 choice-filter  gear-filter">
            <div>
                <input type="radio" id="gear" name="gears" [value]="gearValue"
                       (change)="onSelectionChange($event.target.value,'gears')"/>
                <label for="gear" class="gear with-img filter-label">Gear</label>
            </div>
            <div>
                <input type="radio" id="nongear" name="gears" value="single speed"
                       (change)="onSelectionChange('single speed','gears')"/>
                <label for="nongear" class="non-gear with-img filter-label">Non Geared</label>
            </div>
            <p class="error text-error">&nbsp;
                <span *ngIf="errorFilter == 'gears'">Please select any one the option</span>
            </p>
        </div>

        <div class="col-sm-3 choice-filter price-filter no-border-sm" >
            <select class="filter-input" (change)="setPrice($event.target.value)">
                <option value="-1">Select</option>
                <option *ngFor="let option of priceFilter" [attr.data-maxPrice]="option.price_max" [attr.data-minPrice]="option.price_min" [value]="option.id">{{option.displayText}}</option>
            </select>
            <div class="filter-label">Price</div>
            <p class="error text-error" *ngIf="errorFilter == 'price'">Please select any one the option</p>
        </div>



    </div>

    <div class="row"  *ngIf="pageShown == 1" [@visibilityChanged]="pageShown != 1">
        <div class="action-btn col-sm-12">
            <a class="hc-btn hc-btn-primary" (click)="searchProduct(['category','age','gears'])">Pedal</a>
        </div>
    </div>

</div>