@import "_variables.scss";

@mixin translateY($value){
  -webkit-transform: translateY($value);
  -ms-transform: translateY($value);
  transform: translateY($value);
}

@mixin transition($transition) {
  webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin rotateAnimation() {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
.red-seperator{
  font-family: BebasNeue;
  color:  $color-red;
  font-size: 1rem;
}
.transition{
  @include transition(all .3s ease);
}
.right{
  float: right;
}

.mobile-hidden{
  display: none;
  @media (min-width: $sm-screen-up) {
    display: block;
  }
}
.desktop-hidden{
  display: block;
  @media (min-width: $sm-screen-up) {
    display: none;
  }
}
.pad-main-side{
  padding: 0 1rem;
  @media (min-width: $sm-screen-up) {
    padding: 0 2rem;
  }
  @media (min-width: $md-screen-up) {
    padding: 0 5rem;
  }
}
.mar-r-20{
  margin-right: 2rem;
}
.pad40{
  padding: 4rem;
}
.pad-hNone{
  padding-left:0;
  padding-right:0;
}
.pad-lNone{
  padding-left: 0;
}
.pad-main-text{
  padding: .5rem 1rem;
  @media (min-width: $sm-screen-up) {
    padding: 2rem 5rem;
  }
}
.mar-b-main{
  margin-bottom: 2rem;
}
.bold{
  font-weight: 700;
}
.seperator{
  width:1px;
  background-color: #eee;
  height: 6rem;
  display: inline-block;
}
.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
h2{
  font-family: BebasNeueBold,Arial Narrow,Arial,Helvetica,sans-serif;
  color: #000000;
  font-size: 2.6rem;
  line-height: 2em;
  text-align: center;
}
h2::before{
  content:'/';
  padding-right: 5px;
}
h2::after{
  content:'/';
  color: $color-red;
  padding-left: 5px;
}
h2 .red{
  color:$color-red;
}

.row-eq-height {
  @media (min-width: $sm-screen-up) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.loading{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-color: #dddddd;
  z-index: 102;

  img{
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
  }
}
.page-unavailable{width: 100%;
  //height: 100vw;
  background-color: $color-black;color: $color-white;
  font-family: BebasNeue;
  font-size: 30px;
  text-align: center;padding-top: 40vw;
  padding:30vh 3rem ;
.hd{border-bottom: 1px solid $color-white;padding-bottom: 2rem;margin-bottom: 2rem;}
}
.ngx-datepicker-calendar-container{
  z-index: 10;
}
form .ngx-datepicker-container .ngx-datepicker-input{
  width:100% !important;
}
.cmp-prod .ui-select-choices-row.active > a{
  background-color: $color-red;
}