<header>
    <div class="hcLogo">
        <a href='/'>
            <img src="./assets/images/logo.png"  title="Hero Cycles " alt="Hero Cycles" class="img-responsive"/>
        </a>
    </div>
    <app-nav-menu [forceCloseNav]="forceCloseNav"></app-nav-menu>
</header>
<div class="body-content" (window:resize)="onResize($event)" >
<router-outlet (deactivate)="onDeactivate()" (activate)="onActivate()"></router-outlet>
</div>
<app-bottom-bar class="desktopFooterBar"></app-bottom-bar>
<footer>
    <div class="footer-content">
        <div>
            <ul class="footer-links">
                <li><a [routerLink]="['/overview']">About Us</a></li>
                <li><a [routerLink]="['/milestone']">Milestones</a></li>
                <li><a [routerLink]="['/csr']">CSR</a></li>
                <li><a [routerLink]="['/investors']">Investors</a></li>
                <li><a [routerLink]="['/contactUs']">Contact Us</a></li>
                <li><a [routerLink]="['/warranty']">Warranty</a></li>
                <li><a [routerLink]="['/privacy']">Privacy Policy</a></li>
                <li><a [routerLink]="['/disclaimer']">Disclaimer</a></li>
                <li><a [routerLink]="['/sitemap']">Sitemap</a></li>
            </ul>
            <div class="social">
                <ul>
                    <li><a href="https://www.facebook.com/HeroCyclesOfficial" class="fa fa-facebook" target="_blank"></a></li>
                    <li><a href="http://www.twitter.com/hero_cycles" class="fa fa-twitter" target="_blank"></a></li>
                    <li><a href="http://www.youtube.com/channel/UCunP-Qd8LqLgQCWPdhqs1tQ" class="fa fa-youtube" target="_blank"></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">All rights reserved copyrights hero cycles ltd 2017</div>
    </div>
</footer>



