<h2 class="text-left pad-main-side"><span class="red">Specification</span></h2>
<div class="pad-main-side">
<div class="container-fluid prod-specifications">
    <div class="row">
        <div class="col-md-6">
                <table>
                <ng-template ngFor let-specification [ngForOf]="specifications" let-o="odd">
                        <tr *ngIf="o">
                            <td class="label">{{specification.type.replace('_', ' ')}}</td>
                            <td>{{specification.description == 0 ? 'Coming Soon' : specification.description}}
                                <ng-template ngIf="specification.description">&nbsp;</ng-template>
                            </td>
                        </tr>
                </ng-template>
                </table>
        </div>
        <div class="col-md-6">
            <table>
                <ng-template ngFor let-specification [ngForOf]="specifications" let-e="even">
                    <tr *ngIf="e">
                        <td class="label">{{specification.type.replace('_', ' ')}}</td>
                        <td>{{specification.description == 0 ? 'Coming Soon' : specification.description}}
                            <ng-template ngIf="specification.description">&nbsp;</ng-template>
                        </td>
                    </tr>
                </ng-template>
            </table>
        </div>
    </div>
</div>
</div>

