@import "../../../styles/_variables.scss";
.prod-specifications{
  font-family: 'Asap';
  color:  #8d8d8d;
  font-size: 1.5rem;
  padding-bottom: 2rem;

  td{
    padding: .5rem 0;
    vertical-align: text-bottom;
    &.label{
      color:  $color-black;
      font-size: 1.8rem;
      font-weight: 600;
      padding-right: 4rem;
    }
  }
  @media (max-width: $sm-screen-down) {
    .row{
     // margin-left: 0;
     // margin-right: 0;
    }
  }
}