<img src="./assets/images/banners/privacy.jpg" alt="Privacy">
<section class="pad-main-text">
    <h3>Date of Updation</h3>
<p>Thank you for visiting www.herocycles.com. We utmost respect your privacy and consider it to be a pertinent element of our business. This privacy policy statement applies to www.herocycles.com only. It does not apply to information collected and stored by means other than the website.
<h3>Privacy of Personal Information</h3>
<p>With due respect to the privacy of its users, Hero Cycles website, http://www.herocycles.com, abstains from getting personal information from users without their denotative consent. Hero Cycles does not distribute, sell or rent any personal information collected via its website. This is also true for personal information (email address, postal address, etc.) sent to the website's email addresses, contact notes. Hero Cycles does not send unsolicited emails to users of its site and the personal information entered via the site's registration forms such as, feedback form, complaint form etc., is protected by security features.
<h3>Policy on Cookies</h3>
<p>Hero Cycles website studies total usage data to find out how often and when site content is requested or visited. It does not use persistent cookies (text cookies) or session cookies for the purpose of tracking usage of its site. A persistent cookie, or text cookie, is a file that might contain user information. It is stored on a user's computer. Hero Cycles website uses session cookies (session cookies are not stored on a user's computer).
<h3>On-line surveys</h3>
<p>For better understanding the needs and profile of our visitors, we conduct on-line surveys. When we conduct the survey, we will try to let the user know how we shall use said information at the time of collecting information from the user on the Internet. However the same is not obligatory on our part. The user recognizes and understands that there is no compulsion on their part to provide us with their personal information and all personal information provided by them to us is with their full consent, own will and desire to provide such personal information. They also understand that we are under no obligation to verify the source from which the personal information about them is provided to us and is deemed to be provided by them.
<h3>Links to other websites</h3>
<p>Hero Cycles website may contain links to other sites and we try to link only those sites that share our high standards and respect for privacy. We are not responsible for the content or the privacy practices used by other sites.
<h3>Changes to the "Privacy Statement"</h3>
<p>With effect from the future, Hero Cycles reserves the right to change this privacy statement from time to time. When we do, we will also revise the "Date of Updation" date at the top of this privacy statement. For material changes to this privacy statement, we will notify placing a notice on this Web Site.
<h3>Security</h3>
<p>Hero Cycles endeavours to take reasonable and appropriate measures to protect your personal information from unauthorized access or disclosure. However, we do not warrant or represent that your personal information is completely safe from hackers and other security threats.
<h3>For Facebook & Twitter</h3>
<p>The contents on the Facebook/Twitter page/account are for general reference purposes and do not constitute any binding
    commitment or the specifically endorsed views of Hero Cycles Limited (Company). The views expressed by other persons,
    followers and 3rd parties on this page are individual opinions and the Company does not take responsibility for the same.</p>
<p>Any views, advice and tips rendered on the page are free of cost based upon general experience and need not specifically
    meet all the requirements of any person, visitor. The views expressed are general in nature and require no kind of fees or
    payment.</p>
<p>The Company and its operations including the contents of the page are subject to laws of the Republic of India and related
    regulations. The conditions of use and all other 'Facebook' / 'Twitter' Terms and Conditions continue to apply in addition
    to the above.</p>
<p>All content posted by the Company including but not limited to the software, programming code, media relating to the Page,
    Promotion-related communications, etc. are protected by the applicable proprietary laws such as copyright law, trademark law,
    patent law and competition.</p>
<p>The Company exclusively reserves the right to change or modify the applicable terms and conditions without prior notice.</p>
<p>This page is in not endorsed or sponsored or administered by, or associated with, Facebook / Twitter.</p>
<p>The Company reserves the right to use information received from any user or 3rd party on the page for its own purposes
    including but not limited to brand communication & product development.</p>
<p>Any personal information shared with the Company on the page of the Company, whether public or private, shall not be sold,
    exchanged, transferred, or given to any other Company however the Company shall have the right to make reference & use of the
    information for its own purposes only. All disclosures would be deemed to have given the Company the voluntary rights of use
    by the Company for its own purposes.</p>
<p>The Company shall maintain suitable security measures for the safety of personal information and other disclosures when any
    3rd person enters, submits, or accesses personal information.
<p>All disclosures & measures required/necessitated under law, for enforcement of page policies, for protect Company's interest
    or others rights, property, or for safety purposes will be taken by the Company unilaterally without any obligation towards intimation or information to the 3rd persons or parties.
<p>The page, page code, and any and all copyrights, trademarks, service marks, trade names and all other intellectual property
    or material or property rights herein are proprietary to the Company and are owned by the Company and/or its licensors and content providers, and are protected by applicable domestic and international intellectual property laws. The depiction of such proprietary content does not permit or allow any user or person (whatsoever) to make any use of the same without prior written permission of the Company in any manner or reference or context.
<p>Limitation of Liability under No Circumstance, including, but not limited to, negligence, shall the Company be liable for any
    indirect, special, exemplary, or consequential damages that result from the use of, or the inability to use, including but not limited to the information, materials on the page, page content, page code, user services or the software. While the Company shall take reasonable precautions against security breaches, no webpage or internet transmission is completely secure, and as such, the Company shall not be liable for any indirect, special, exemplary, or consequential damages that may result from unauthorized access, hacking, data loss, or other breaches that may occur.</p>
<p>All disputes, if any, shall be subject to the exclusive jurisdiction of Courts in Ludhiana, India only.</p>
<p>By accessing the page of the Company, the users, persons and 3rd parties agree and undertake to act responsibly and cause no
    harm, loss or damage to the Company. In the event that the Company incurs any loss, harm or damage then the company shall be
    in right to take appropriate steps to identify the person(s) involved and seek indemnity and compensation for all loss, claim,
    demand, damage, costs, charges (including legal fees and charges) or prejudice that may be caused to the Company on account
    of misuse of the page and the consequent affect upon the Company.</p>
<p>For any contests or promotions, the decision of the Company and the terms and conditions of the specific contest/promotion
    shall be binding on all participants. The Company shall not entertain any grievance or concerns in this regards and the
    decision of the Company (as resolved under applicable terms and conditions) shall be final and binding.</p>
<p>Acceptance or participation in the contest, promotions or other features on the page will constitutes permission to the
    Company to use the name, relevant details and/or photographs and/or likeness for purposes of publicity, advertising and/or
    trade without any claim for compensation or notice.</p>
<p>Any participant or user or 3rd party who is suspected of any illegal act such as hacking, etc would immediately dealt with by
    the Company in the manner as deemed suitable by the Company.</p>
<p>The Company is not making any warranties of any kind whatsoever whether express or implied, on this page with regards meeting
    of the 3rd party requirements or aspirations, timeliness, security, uninterrupted-ness, error-free, the results or
    reliability, or the delivery, quality, quantity, merchantability, fitness for use or non-infringement in respect of any
    goods, services, emoluments, benefits or awards acquired or obtained through the page or any transactions effected through
    the page.</p>
<p>Copyright © Hero Cycles Limited, All Rights Reserve</p>
    </section>
