/* You can add global styles to this file, and also import other style files */

@import "styles/_font.scss";
@import "styles/_variables.scss";
@import "styles/_carousel.scss";
@import "styles/_buttons.scss";
@import "styles/_utilities.scss";
@import "styles/_forms.scss";

html {
  overflow-x: hidden;
  max-width: 100%;
}
body{
  font-family: 'Asap',Arial,sans-serif;
  font-size: 1.5rem;
  color: $color-black;
}
html{
  @media (max-width: $sm-screen-down) {
    font-size: 8px;
  }
}
a,a:hover,a:active,a:focus{text-decoration: none;}
ul{
  margin:0;
  padding:0;
}
li {
  list-style: none;
  display: inline-block;
}
:focus {
  outline: none;
}
img{width:100%;}

.icon::after{
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-inr::before{
  padding-right: .5rem;
}
  input{
    border: 1px solid $color-blue;
  }
  .filter-input,.filter-input:focus{
    border-radius:1.6rem;
    padding:7px 10px;
    font-family: BebasNeue;
    color:  $color-text-input;
    font-size: 2.6rem;
    border: 3px solid $color-blue;
    margin-top: 1rem;
  }

  /*TODO - Move to quick-view component*/
.quick-view {
  .name {
    font-family: BebasNeueBold;
    color: #000000;
    font-size: 6rem;
    line-height: 1em;
    @media (max-width: $sm-screen-down) {
    padding: 2rem 0 1rem 0;
  }
  }
  .price {
    font-family: BebasNeueBold;
    color: #000000;
    font-size: 4.1rem;
    line-height: 1em;
  }
  .specifications {
    border-top: 1px solid $color-border;
    padding-top: 1.5rem;
    margin: 3rem 0 4rem;
  }
  .specifications-hd {
    font-family: 'Asap';
    color: #000000;
    font-size: 2rem;
    font-weight: 500;
  }
  .specification {
    margin-top: 1rem;
    font-family: 'Asap';
    color: #000000;
    font-size: 1.3rem;
    li {
      display: block;
      padding-bottom: .5rem;
    }
    li::before {
      content: '-';
    }
  }
  .hc-btn-primary{
    padding-left: 3rem;
    padding-right: 3rem;
    @media (max-width: $sm-screen-down) {
      display: block;
      width: 50%;
      margin-bottom: 10px;
    }
  }
}

.modal-header {
  border-bottom: none;
}
.modal-body {
  padding: 0 3rem 3rem;
}
.close{
  font-size: 1.5rem;
  color: $color-black;
  opacity: .5;
}
.modal-open{
  padding-right: 0 !important;
}

.compare-sel li[role='menuitem']{
  display: block;
}
.ui-select-toggle{
  border: none;
  background-color: transparent;
  box-shadow: none;
}
#livechat-eye-catcher{
  display: none;
}



